.cardTarget{
align-items: center;
border-radius: 6px;
overflow: hidden;
background: #ffffff;
box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
cursor:default;
transition: all 400ms ease;
}

.cardTarget:hover{

    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translatey(-3%);
}

.inputCant{
display: flex;
margin-left: 70px;

}

img, svg {
    width: 25px;
    margin-left: 0 !important; 
}

.css-l9ha7b {
    border: 1px solid !important;
    margin-bottom: 15px;
}

.css-cb0v6o{
    background-color: #00071f !important;
}

.css-cb0v6o:hover{
    background-color: #132355 !important;
}